<form>
    <header class="flexrow">
        <label class="mode-name">{{ localize "ctg.modeConfig.name.header" }}</label>
        <label class="mode-path">{{ localize "ctg.modeConfig.path.header" }}</label>
        <a class="create" title="{{ localize "ctg.modeConfig.create" }}"><i class="fas fa-plus"></i></a>
    </header>

    <ol>
        {{#each modes as |mode i|}}
        <li class="mode flexrow" data-index={{i}}>
            <input type="text" class="mode-name" name="modes.{{i}}.0" value="{{mode.[0]}}" />
            <input type="text" class="mode-path" name="modes.{{i}}.1" value="{{mode.[1]}}" />
            <a class="delete" title="{{ localize "ctg.modeConfig.delete" }}"><i class="fas fa-trash fa-fw"></i></a>
        </li>
        {{/each}}
    </ol>

    <footer class="sheet-footer flexrow">
        <button class="submit" type="submit"><i class="fas fa-save"></i> {{ localize "ctg.modeConfig.save" }}</button>
        <button class="reset" type="button"><i class="fas fa-undo"></i> {{ localize "ctg.modeConfig.reset" }}</button>
    </footer>
</form>